body {
    background-color: olive;
}

#lyric-box {
    background-color: blanchedalmond;
    width: 300px;
}

#lyric {
    color: olive;
}

#details {
    color: olive;
}

#new-lyric{
    background-color: olive;
    color: blanchedalmond;
}

#coder a {
    color: blanchedalmond;
}
  
@media (min-width: 601px) {
    #lyric-box {
        width: 500px;
    }
}
